BackEnd/QuickFinance.Api/.vs
BackEnd/QuickFinance.Api/.vs
BackEnd/QuickFinance.Api/appsettings.json
Queries/.vscode
FrontEnd/Vue/quick-finance-frontend.zip
BackEnd/QuickFinance.Api/bin/Debug
BackEnd/QuickFinance.Api/obj
FrontEnd/node_modules
*.log
user credentials.txt
